* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: url(../images/floral.png) no-repeat center center fixed;
	background-size: cover;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	/* border: blue 2px dashed; */
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: green 1px solid; */
}

#logo {
	max-width: 60%;
	margin: 64px;
}

.content {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row wrap-reverse;
	justify-content: center;
	/* border: yellow 1px solid; */
}

.ratio-box-container {
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	max-width: 320px;
	min-width: 240px;
	min-height: calc(320px * (9/16));
	margin: 16px 24px;
	/* border: green 1px dashed; */
}

.ratio-box {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: 56.25%;
}

.ratio-box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.footer {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: center;
	/* border: red 1px solid; */
}

.link-box {
	display: flex;
	flex: 1 1 100%;
	justify-content: space-around;
	margin: 32px 0;
	max-width: 500px;
	/* border: green 2px dashed; */
}

.box {
	position: relative;
	padding: 16px 16px;
	/* border: gold 1px solid; */
}

.box>svg {
	display: block;
	fill: rgb(255, 255, 255, 0.3);
	transition: fill .2s ease-in-out;
	transition: transform .2s ease-in-out;
}

.box:hover>svg {
	fill: rgb(255, 255, 255, 0.8);
	transform: scale(1.05);
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	@media (hover:hover) {
		.box:hover>svg {
			fill: rgb(255, 255, 255, 0.8);
			transform: scale(1.05);
		}
	}
}

.box:active>svg {
	padding-top: 1px;
}

a.boxLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	opacity: 0;
	filter: alpha(opacity=0);
}

@media screen and (min-width: 650px) {
	#logo {
		max-width: 35%;
	}
}