body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #2D2D2D;
}

.content {
	flex: 1 0 auto;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.content img {
	box-sizing: border-box;
	max-width: 100%;
	margin: 10px auto;
}

.some {
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.box {
	box-sizing: border-box;
	padding: 1em;
}

.box > svg {
	display: block;
	margin: 1em auto;
	fill: #666666;
	transition: all .2s ease-in-out;
}

.box:hover > svg {
	fill: #bcbcbc;
	transform: scale(1.1);
}

/* footer {
	flex-shrink: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	text-align: right;
	color: white;
} */