html {
	background-color: #2D2D2D
}

/*div {
	position: fixed;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 60%;
}

.contact {
	color: white;
}*/

#spotify {
	background-color: green;
}

#youtube {
	background-color: red;
}

#facebook {
	background-color: blue;
}

#instagram {
	background-color: brown;
}

.pure-g img {
	max-width: 100%;
}